{% extends 'base.html' %}

{% block title %} Orders {% endblock %}

{% block body %}

<div class="container my-5">

    <div class="row">
        {% if orders %}

        <h1 class="text-center mb-5" style="color: white;">Orders</h1>
        <div class="col-sm-13">
            <div class="card">
                <div class="card-body">
                    {% for item in orders %}

                    <div class="row">
                        <div class="col-sm-3 text-center align-self-center">
                            <img src="{{ item.product.product_picture }}" alt="" class="img-fluid img-thumbnail shadow-sm" height="150px" width="150px">
                        </div>
                        <div class="col-sm-7">
                            <h3>{{ item.product.product_name }}</h3>
                            <p class="mb-2 text-muted small">Category: {{ item.category }}</p>
                            <p class="mb-2 text-muted small">Gender: {{ item.gender }}</p>
                            <p class="mb-2 text-muted small">Size: {{ item.size }}</p>
                            <p class="mb-2 text-muted small">Color: {{ item.color }}</p>
                            <p class="mb-2 text-muted small">Quantity: {{ item.quantity }}</p>
                            <p class="mb-2 text-muted small">Price: Rp {{ "{:,.0f}".format(item.price) }}</p>
                            <p class="mb-2 text-muted small"><strong>shipping_cost:</strong> {{ "{:,.0f}".format(item.shipping_cost) }}</p>
                            <p class="mb-2 text-muted small"><strong>Total:</strong> Rp {{ "{:,.0f}".format(item.grand_total) }}</p>

                            <div class="col-sm-4">
                                <p>Order Status: {{ item.status }}</p>
                                
                                {% if item.status == 'Pending' %}
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 20%;"  aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'Paid' %}
                                <div class="progress">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%;"  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'On Delivery' %}
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%;"  aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                                {% elif item.status == 'The order has arrived' %}
                                <div class="progress">
                                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%;"  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                {% endif %}
                            </div>

                            <div class="col-sm-4">
                                {% if item.status == 'Pending' %}
                                    <form action="{{ url_for('views.upload_payment', order_id=item.id) }}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="payment_file">Upload Payment Receipt</label>
                                            <input type="file" class="form-control" id="payment_file" name="payment_file" accept=".jpg,.jpeg,.png" required>
                                        </div>
                                        <button type="submit" class="btn btn-success btn-sm">Upload Payment</button>
                                    </form>
                                {% endif %}
                            </div>

                            <div class="col-sm-4">
                                {% if item.status == 'Pending' %}
                                    <form action="{{ url_for('views.cancel_order', order_id=item.id) }}" method="POST">
                                        <button type="submit" class="btn btn-danger btn-sm">Cancel Order</button>
                                    </form>
                                {% endif %}
                            </div>

                            <div class="col-sm-12">
                                <p>Download Invoice</p>
                                {% if item.status == 'Paid' %}
                                    <a href="{{ url_for('views.download_invoice', order_id=item.id) }}" class="btn btn-primary">Download</a>
                                {% endif %}
                            </div>
                            <div class="col-sm-12">
                                    {% if is_admin and item.status != 'On Delivery' %}
                                    <form action="{{ url_for('views.mark_as_delivery', order_id=item.id) }}" method="POST">
                                        <button type="submit">On Delivery</button>
                                    </form>
                                    {% endif %}
                            </div>

                            <div class="col-sm-12">
                                    {% if item.status == 'On Delivery' and not is_admin %}
                                    <form action="{{ url_for('views.order_arrived', order_user_id=item.id) }}" method="POST">
                                        <button type="submit" class="btn btn-success">The Order Has Arrived</button>
                                    </form>
                                    {% endif %}
                            </div>                                

                            

                        </div>

                        <p class="mb-2 text-muted small">Username: {{ item.customer.username }}</p>
                        <p class="mb-2 text-muted small">Email: {{ item.customer.email }}</p>
                        <p class="mb-2 text-muted small">Phone: {{ item.customer.phone }}</p>
                        <p class="mb-2 text-muted small">Address: {{ item.customer.address }}</p>
                    </div>
                    <hr class="text-muted">
                    {% endfor %}
                    
                </div>
            </div>
        </div>

        {% else %}
        <h1 class="text-center mb-5" style="color: white;">You have no Orders</h1>

        {% endif %}

        <div class="container mt-5">
            <h3 class="mb-4" style="color: white;">Available Payment Methods</h3>
            <div class="row">
                {% for payment in payments %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title" style="color: black;"><strong>Name: </strong>{{ payment.name }}</h5>
                            <p class="card-title" style="color: black;"><strong>Payment method: </strong>{{ payment.payment_method }}</p>
                            <p class="mb-2 text-muted small"><strong>Payment Number: </strong> {{ payment.payment_number }}</p>
                            <div class="text-center">
                                <img src="{{ payment.picture }}" alt="{{ payment.name }}" class="img-fluid img-thumbnail shadow-sm" height="150px" width="150px">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

</div>

{% endblock %}
